/* Error: expected selector.
 *   ,
 * 8 | .mapitaCompa @media (max-width:500px) {
 *   |              ^
 *   '
 *   scss\_contacto.scss 8:14  @import
 *   scss\estilo.scss 1:51     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 8 \2502  .mapitaCompa @media (max-width:500px) {\d\a   \2502               ^\a   \2575 \a   scss\\_contacto.scss 8:14  @import\a   scss\\estilo.scss 1:51     root stylesheet";
}
