//MAPA RESPONSIVE//
.mapitaCompa {
    padding: 3rem;
    // margin-top: auto;

}



/* FORMULARIO */
.formularioCompa {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    color: white;
    font-weight: bold;
    align-items: center;
}

.botoncito {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-align: center;
}

.boton {
    background-color: beige;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.emailCompa,
.grupos,
.textoForm,
.numerosEjemplo {
    margin-top: $espacioForm;
}