/* FOOTER */

footer .container {

    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
    margin-bottom: 15px;


}

.textoFooter {
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;

}

.redesSociales a i {
    color: whitesmoke;


}
