/* FOOTER */

footer .container {

    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    color: whitesmoke;
    margin-bottom: 15px;


}

.textoFooter {
    font-size: 1.5rem;
    color: antiquewhite;
}

.redesSociales a i {
    color: whitesmoke;


}
